@{
    ViewData["Title"] = "Graph";
}
@*<h1>@ViewData["Title"]</h1>*@

<head>
    <link rel="stylesheet" href="~/css/aboutUs.css" />

    <body>
        <div style="font-size: 30px; font-weight: bold; text-align:center;">
            <p1>
                <br />
                “Humor keeps us alive. Humor and food. Don't forget food. You can go a week without laughing.”
                ― Joss Whedon
            </p1>
        </div>

        <br /><br /><br />

        <div class="aboutUs">
            <p3>
                ABOUT AS:
                <br />
            </p3>
            We are Liel, Shenhav, Daniel, Kely and Bar - computer science students at the Rishon Lezion College of Management.
            We were asked to do a project as part of our studies in the "Web application development" course with lecturer Menachem Leibowitz. We chose to develop a website for food lovers just like us.
            FeedMe is a kosher site that reaches a large number of cities in the center and works with restaurants with a wide variety of dishes.
            Enjoy your meal.
        </div>
        <br /><br /><br />

        <section>
            <h2 style="text-align:center;">Our Statistics</h2>
            <p>Here you can see our data about which categories and restaurants are most popular: </p>
        </section>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



        <script type="text/javascript">
        const map = @Html.Raw(ViewData["Graph"]);
        window.onload = function () {
            var dataPoints = [];

            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light1", // "light2", "dark1", "dark2"
                //move
                animationEnabled: true, // change to true
                title: {
                    text: "The most popular Dishes",
                    fontColor: "black"
                },
                data: [
                    {
                        type: "column",
                        dataPoints: map
                    }
                ]
            });
            chart.render();

        }
        </script>

        @*Graph 2*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

        <canvas id="myChart"></canvas>
        <script>
            const xValues = @Html.Raw(ViewData["GraphX"]);
            const yValues = @Html.Raw(ViewData["GraphY"]);
            var barColors = [
                "#b91d47",
                "#00aba9",
                "#2b5797",
                "#e8c3b9",
                "#1e7145"
            ];

            new Chart("myChart", {
                type: "doughnut",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Number of orders",
                        fontSize: 40,
                        fontColor: "black"
                    }
                }
            });
        </script>



        <div id="myMap"></div>
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AgKM2ujhhQsxdOGDplWe_PcRt59_Y8KhlxcQsY4bWurgt-M8nkXVXWERyEd0z6pf&callback=GetMap' async defer></script>
    </body>



</head>


