@{
    ViewData["Title"] = "Home Page";
    Layout = "_homeLayout";
}

<div class="container">
    <div class="row">

        <div class="col-md-2"></div>

        <div class="text-center col-md-8">
            <div style="color: white; font-size: 100px; font-family: 'Lobster', cursive;">
                Welcome to FeedMe!
            </div>
            <div class="form-group has-search" style="margin-top: 125px;">
                <span class="fa fa-search form-control-feedback"><ion-icon name="search-outline"></ion-icon></span>
                <input type="text" class="form-control" placeholder="Where to send the food ?!">
            </div>
        </div>

        <div class="col-md-2"></div>

    </div>
</div>