@model FeedMe.Models.Dish

@{
    ViewData["Title"] = "Edit a dish";
}

<h1>Edit</h1>

<h4>Dish</h4>
<hr />
<div class="row">
    <link rel="stylesheet" href="~/css/dish.css" />
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DishImage" class="control-label"></label>
                <input asp-for="DishImage" class="form-control" />
                <span asp-validation-for="DishImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodType" class="control-label"></label>
                <select asp-for="FoodType" class="form-control" asp-items="ViewBag.FoodType"></select>
                @*<input asp-for="FoodType" class="form-control" />*@
                <span asp-validation-for="FoodType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantID" class="control-label"></label>@*רשימת כל המסעדות בהן המנה מוגשת*@
                <select asp-for="RestaurantID" class="form-control" asp-items="ViewBag.RestaurantID"></select>
                <span asp-validation-for="RestaurantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
