@model FeedMe.Models.User


<head>
    @{
        ViewData["Title"] = "Access Denied";
    }
    <link rel="stylesheet" href="~/css/restaurant.css" />
</head>


<div class="row">
    <div class="col-md-12">
        <h3><p>You need to delete current restaurant in order to have a new one..</p></h3><p>You'll be redirect to Homepage in 7 seconds...</p>
        <a asp-controller="Users" asp-action="Login">Click here to Login</a>
    </div>
</div>




<script src="~/js/accessdenied.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
