@model FeedMe.Models.Restaurant

@{
    ViewData["Title"] = "Create a new restaurant";
}

<h1>Create</h1>

<h4>Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>@*מציג ברשימה את כל הקטגוריות האפשריות*@
                <select asp-for="Categories" class="form-control" asp-items="@ViewBag.Categories"></select>
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantImage" class="control-label"></label>
                <input asp-for="RestaurantImage" class="form-control" />
                <span asp-validation-for="RestaurantImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DeliveryCities" class="control-label"></label>@*רשימה של כל הערים בהן המסעדה עובדת*@
                <select asp-for="DeliveryCities" class="form-control" asp-items="@ViewBag.Cities"></select>
                <span asp-validation-for="DeliveryCities" class="text-danger"></span>
            </div>

            @*We don't want the Restaurant Administor the ability to add the rate
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
