/* Map style*/
#myMap {
    position: relative;
    /*width: 600px;*/
    height: 500px;
    margin-top: 50px;
}

#myChart {
    height: 370px;
    width: 100%;
    padding-top: 80px;
}

.aboutUs {
    color: black;
    font-size: 20px;
    text-shadow: 1px 1px #0b63bc;
    column-count: 3;
}
