﻿ /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 16px; /*Default: 14px*/
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height*/
    background-color: #CCE5FF;
}

/* 1111.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;*/ /* Vertically center the text there 1111 */
/*}*/

footer {
    padding-top: 30px;
    padding-bottom: 1px;
    background-color: #292c2f;
    bottom: 0;
    width: 100%;
}

    footer p, .info b {
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        color: #0000cc;
    }

    footer b {
        color: cornflowerblue;
        font-size: 25px;
        font-family: "Times New Roman", Times, serif;
    }

.bg-white {
    text-align: center;
}

.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}


.resturantslinks {
    border-right: 1px solid grey;
}

    .resturantslinks h6 {
        color: cornflowerblue;
        /*font-size: 50px;*/
        padding-right: 5em;
    }


    .resturantslinks ul li {
        list-style: none;
    }


        .resturantslinks ul li a {
            text-decoration: none;
            color: #0000cc;
            text-decoration: none;
        }

            .resturantslinks ul li a:hover {
                text-decoration: none;
                color: #68706d !important;
            }

.form-footer h6 {
    color: cornflowerblue;
    font-size: 22px;
}

.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
    background: #232323;
    color: #fff;
}

/*:placeholder {
    font-size: 10px;
    padding-left: 12px;
    font-style: italic;
}*/

.form-footer input[type="submit"] {
    border: none;
    background: #232323;
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}


.copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    /*color: #fff;*/
    margin-bottom: 0;
}

    .copyright .social .fa {
        font-size: 20px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #595959;
        margin: 0 8px;
        color: #fff;
        opacity: 0.75;
    }

    .copyright p {
        color: #fff;
    }


/*footer end*/
/*-------------------------------------------------- */


.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.form-group, has-search {
    margin-top: 75px;
}

#categoryBtn {
    margin: auto;
    background-color: rgba(128, 128, 128, 0);
    border: gray;
    border-style: double;
    align-items: center;
    border-radius: 25px;
    width: 18rem;
    height: 18rem
}

#restaurantBtn {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: rgba(128, 128, 128, 0);
    border: gray;
    border-style: double;
    align-items: center;
    border-radius: 25px;
    width: 20rem;
    height: 30rem;
}

/*restaurant and category*/
.card {
    /*background-color: #efefef;*/
    background-color: rgba(128, 128, 128, 0);
    border: hidden;
}




/*Home index*/
/*.text-center {
    color: white;
    font-size: 100px;
    font-family: 'Lobster', cursive;
}
.form-group {
    margin-top: 125px;
}*/

/* Slider styles
-------------------------------------------------- */
.d-block {
    width: 10%;
    height: 50px;
    padding-top: 37.193%;
    border-radius: 0.9rem;
    touch-action: pan-y pinch-zoom;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

.slide {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: initial;
}

#sliderBtn {
    background-color: transparent;
    color: white;
    border: none;
    position:absolute;
    top:-600%;
    transform:translate(-50%,-50%);
}


.topBg {
    background: red;
    height: 400px;
    width: 100%;
}


/* Search bar styles
-------------------------------------------------- */

.searchBar p {
    color: #5950bf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 0.9rem;
}

.searchBar input[type="submit"] {
    border: none;
    background: #fff;
    margin-left: -2px;
    color: #232323;
    outline: none;
    border-radius: 0.4rem;
    padding: 2px 12px;
}

.searchBar input[type="text"] {
    border-radius: 0.1rem;
    border-color: #fff;
}



/*Dishes style*/
#dishesBtn {
    margin-left: 10px;
    margin-top: 100px;
    padding-bottom: 10px;
}

#dishBody {
    background-color: lightpink;
}

    #dishBody img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    #dishBody p {
        margin-top: auto;
    }

.dishImage {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

/*Categories style*/
.categoryImage {
    width:100%;
    height:100%;
    border-radius:10px;
}

.categoryImageNotFound {
    width:80%;
    height:80%;
    margin-left:auto;
    margin-right:auto;
}


/*Home style*/
#homeLayoutStyle {
    background-image: url(../Photos/Background.png);
    background-size: cover;
}

.homeTitle {
    color: white;
    font-size: 100px;
    font-family: 'Lobster', cursive;
}

.navbar-brand {
    font-family:'Lobster';
    font-size:35px;
}

/*Restaurants style*/
#restaurantBody img {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#restaurantBody p {
    margin-top: auto;
}