@model FeedMe.Models.User
<head>
    @{
        ViewData["Title"] = "Edit a user";
    }
</head>

<body>
    <h1>Edit</h1>

    <h4>User</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthdayDate" class="control-label"></label>
                    <input asp-for="BirthdayDate" class="form-control" />
                    <span asp-validation-for="BirthdayDate" class="text-danger"></span>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <select asp-for="@Model.Type" asp-items="ViewBag.UserType" class="form-control"></select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RestaurantId" class="control-label"></label>
                        <input asp-for="RestaurantId" class="form-control" />
                        <span asp-validation-for="RestaurantId" class="text-danger"></span>
                    </div>
                }
                else if (User.IsInRole("rManager"))
                {
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <select asp-for="@Model.Type" asp-items="ViewBag.UserType" class="form-control" disabled></select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RestaurantId" class="control-label"></label>
                        <input asp-for="RestaurantId" class="form-control" readonly />
                        <span asp-validation-for="RestaurantId" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <select asp-for="@Model.Type" asp-items="ViewBag.UserType" class="form-control" disabled></select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                }
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
