@model FeedMe.Models.User

<head>
    @{
        ViewData["Title"] = "Register";
    }
</head>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Register" asp-controller="Users">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter only lowercase letters "/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthdayDate" class="control-label"></label>
                <input asp-for="BirthdayDate" class="form-control" type="date" min="1900" max="2021" title="Please enter a year value between 1990-2021" />
                <span asp-validation-for="BirthdayDate" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input class="btn btn-secondary col-md-6" type="submit" value="Register" />
            </div>
        </form>
        @if(ViewBag.Error != null){
        <div class="text-danger">@ViewBag.Error</div>
        }
    </div>
</div>

    @*<div>
            Already registered? <a asp-action="Login">Click here</a> to login
        </div>*@



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
