@model FeedMe.Models.MyCart



<head>
    @{
        ViewData["Title"] = "Create";
    }
    <link rel="stylesheet" href="~/css/myCart.css" />

</head>


<h1>Create</h1>
<h4>MyCart</h4>
<div>
    <div class="cartCreate">
        <p>
            Choose the way you want to start your purchase in FeedMe:
        </p>
    </div>
    <button type="button" id="dishesBtn" class="btn btn-outline-info"> <a asp-controller="Restaurants" asp-action="Index"> Restaurants</a> </button>
    <button type="button" id="dishesBtn" class="btn btn-outline-info"> <a asp-controller="Categories" asp-action="Index"> Categories</a> </button>
    <div>
        <br />
        <button type="button" class="btn btn-light" onclick="goBack()">Go Back</button>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
