

<head>
    @{
        ViewData["Title"] = "Done";
    }
    <link rel="stylesheet" href="~/css/Delivery.css" />
</head>

<div>
    <h1>
        The order is complete!
        </br>
        FeedMe on the way to you!
    </h1>
    <img class="center" src="https://static.vecteezy.com/system/resources/previews/002/001/981/non_2x/food-delivery-service-design-vector.jpg">
</div>

