
@{
    ViewData["Title"] = "Done";
}
<html>
<head>

    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <h1>
        The order is complete!
        </br>
        FeedMe on the way to you!
    </h1>

    <img class="center" src="https://static.vecteezy.com/system/resources/previews/002/001/981/non_2x/food-delivery-service-design-vector.jpg">
    <style>
        body {
            background-color: rgb(211, 243, 214);
        }

        h1 {
            line-height: 2em;
            text-align: center;
            /* display: flex; */
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>
<body>

</body>
</html>