@{
    ViewData["Title"] = "Pay";
}

    
<h1>Pay</h1>
<head>
    <link rel='stylesheet' href='~/css/Pay.css' type='text/css'>
    <!-- <script src='main.js'></script> -->
@*    <script type="text/javascript" src="~/js/Pay.js"></script>
*@
</head>
<body>

    <div class="row">
        <div class="col-40">
            <div class="container-1">
                <form name="payForm" class="text">
                    <div class="row">
                        <div class="col-25">
                            <h3>Billing Address</h3>
                            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                            <input type="text" id="fname" name="firstname" placeholder="Your full name">
                            <label for="email"><i class="fa fa-envelope"></i> Email</label>
                            <input type="text" id="email" name="email" placeholder="Yourname@example.com">
                            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                            <input type="text" id="adr" name="address" placeholder="Your address">
                            <label for="city"><i class="fa fa-institution"></i> City</label>
                            <input type="text" id="city" name="city" placeholder="Your city">
                        </div>

                        <div class="col-25">
                            <h3>Payment</h3>
                            <label for="cname">Name on Card</label>
                            <input type="text" id="cname" placeholder="Name">
                            <label for="ccnum">Credit card number</label>
                            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                            <label for="expmonth">Exp Month</label>
                            <input type="text" id="expmonth" name="expmonth" placeholder="September">

                            <div class="row">
                                <div class="col-25">
                                    <label for="expyear">Exp Year</label>
                                    <input type="text" id="expyear" name="expyear" placeholder="2018">
                                </div>
                                <div class="col-25">
                                    <label for="cvv">CVV</label>
                                    <input type="text" id="cvv" name="cvv" placeholder="352">
                                </div>
                            </div>
                        </div>

                    </div>
                    <button type="button" class="btn" onclick="cardnumber1(document.payForm.cardnumber)">
                       
                        <a asp-action="Delivery"> Continue to checkout</a>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/Pay.js"></script>

</body>




